body {
	margin: 0;
}

:root {
	--header-height: 52px;
	--header-padding: 24px;

	--munich-background-height: 78px;

	--page-max-width: 1840px;
	--content-padding: 24px;
	--content-max-width: 1264px;

	--color-brand: #1B98D5;
	--color-brand-main: #005A9F;
	--color-neutral-blue: #BDD4EA;
	--color-neutral-grey: #3A5368;
	--color-blue-x-light: #F2F6FA;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Condensed", Arial, sans-serif;
}

.login-site {
	margin: auto;
	max-width: var(--page-max-width);
	background-color: #F2F6FA;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.5);
}

.icon.left {
	margin-right: 12px;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	background-color: var(--color-brand);
}

header .m-button {
	height: var(--header-height);
	align-items: center;
}

header .m-button span {
	text-wrap: nowrap
}

.m-page-header__branding-image {
	max-width: unset !important;
}

.m-page-header__top {
	padding-left: 4rem;
	padding-right: 4rem;
}

footer {
	width: 100%;
	height: 24px;
	background-color: var(--color-brand-main);
	overflow: hidden;
	z-index: -1;
	font-family: Roboto Condensed, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: right;
}

.spacer {
	width: 100%;
}

.heading {
	width: 100%;
	text-align: center;
	padding-top: var(--header-padding);
}

.graphics-container {
	display: flex;
	flex-direction: row;
	padding-top: var(--content-padding);
	padding-left: var(--content-padding);
	padding-right: var(--content-padding);
	max-width: var(--content-max-width);
	margin: auto;
}

.munich-background {
	height: var(--munich-background-height);
}

.card-container {
	display: flex;
	flex-direction: column;
	padding: 0 var(--content-padding);
	max-width: var(--content-max-width);
	margin: auto;
	padding-bottom: 48px;
}

.card {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	padding-bottom: 32px;
	border: 1px solid var(--color-neutral-blue);
	background: white;
	margin-bottom: 24px;
}

.card p {
	margin-block-start: 16px;
	margin-block-end: 24px;
	text-align: center;
}

.error {
    text-align: left;
    color: red;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
}

.message {
    text-align: left;
    color: red;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
}


.m-button--link svg{
	fill: var(--color-brand-main)
}

.seperator {
	padding: 24px 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: inline-flex;
}

.seperator .hr {
	width: 100%;
	height: 0;
	max-width: 180px;
	border-top: 1px var(--color-neutral-blue) solid;
}

.seperator .text {
	padding: 0 8px;
	color: var(--color-neutral-grey);
	font-size: 14px;
	font-family: Open Sans, Arial, sans-serif;
	font-weight: 400;
	line-height: 20px;
	word-break: normal;
}

@media only screen and (max-width: 350px) {
	.munich-background.rathaus {
		visibility: hidden;
	}
}

/* Screen Size SM */
@media only screen and (max-width: 767px) {
	header .m-button span {
		display: none;
	}

	header .m-button .m-button__icon {
		margin-left: 0;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	:root {
		--munich-background-height: 123px;
		--content-padding: 45px;
		--header-padding: 40px;
	}
}

/* Screen Size MD */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	:root {
		--munich-background-height: 123px;
		--header-padding: 40px;
	}

	.graphics-container {
		padding-top: 0;
		margin-top: -2em;
	}

	.card-container {
		padding-bottom: 40px;
	}
}

/* Screen Size LG */
@media only screen and (max-width: 1199px) {
	.card-container {
		padding-bottom: 64px;
	}
	.m-page-header__top {
		padding-left: 0.75rem;
		padding-right: 0;
	}
}

@media only screen and (min-width: 992px) {
	:root {
		--content-padding: 52px;
		--munich-background-height: 177px;
		--header-padding: 76px;
	}
	.graphics-container {
		padding-top: 0;
		margin-top: -3rem;
	}
}

@media screen and (min-width: 1200px)  {
	.card-container {
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 96px;
	}

	.card {
		width: 100%;
	}

	.card.unternehmen {
		margin-left: 32px;
	}

	.card.mitarbeitende {
		margin-left: 32px;
	}
}